body {
  background-color: #c8c6a7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #92967d;
  border-width: 5px;
  width: 5%;
}

img {
  height: 250px
}

h1 {
  color: #435560;
  font-style: oblique 50deg;
}

h2 {
  color: #435560;
  font-style: oblique 20deg;
}
